@media (max-width: 1200px)    
    .title
        text-align: center
        font-size: 22px
        &__white
            color: #ffffff
            line-height: 58px
    .subtitle
        text-align: center
        font-size: 15px
        line-height: 24px
        font-weight: 300
        color: #2e2e2e
        &__white
            color: #ffffff
    header
        .nav
            &__head
                width: 70%
                left: 50%
                transform: translateX(-50%)
            &__logo
                width: 48px
                height: 50px
                img
                    width: 75%
                    display: block
                    margin: 0 auto
                    margin-top: 5px
            &__list
                padding: 0
            &__list-item
                border-right: none
                a 
                    text-align: center
                    font-size: 12px
                    line-height: 11px
                    padding: 0 3px
            &__number
                margin-left: 15px
                a
                    font-size: 12px
                    line-height: 11px
            &__tel-text
                font-size: 13px
                line-height: 11px
    .button
        width: 100px
        height: 30px
        font-size: 10px
        line-height: 11px
        margin-left: 5px
        &__promo
            width: 130px
            height: 30px
            display: block
            margin: 0 auto
    .promo
        position: relative
        min-height: 680px
        padding: 132px 0 82px 0
        background: url(../../img/bg/promo_bg.jpg) center center/cover no-repeat
        &__header
            font-size: 20px
        &__title
            font-size: 50px
        &__subtitle
            font-size: 27px
        &__left
            width: 300px
        &__right
            width: 300px
        &__el
            width: 7px
            height: 7px
        &__wrapper
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: flex-start
            margin-bottom: 39px
        &__items
            display: flex
            flex-direction: column 
            justify-content: center
            align-items: center
            width: 320px
            margin-top: 15px
        &__desc
            font-size: 14px
    .adventage
        &__items
            // justify-content: center
        &__item
            margin-left: 15px
            width: 380px
            height: 65px
        &__icon
            img
                height: 70%
        &__desc
            margin-left: 15px
            font-size: 14px
            span
                font-size: 16px
    .simple
        min-height: 620px
        padding: 51px 0 57px 0
        &__wrapper
            flex-wrap: wrap
            justify-content: center
            align-items: center
        &__item
            margin-top: 20px
            width: 500px
    .transfer
        min-height: 610px
        padding: 53px 0 56px 0
        &__wrapper
            flex-wrap: wrap
            justify-content: center
        &__item
            margin: 20px 50px
    .consultation
        position: relative
        min-height: 350px
        padding-bottom: 58px
        &__razr-up
            width: 350px
        &__img
            width: 75px
            height: 75px
        &__icon
            justify-content: center
        &__razr-down
            width: 270px
    .carousel
        .slick-prev, .slick-next
            position: absolute
            top: 35px
            left: 365px
            width: 14px
            height: 46px
            border: none
            background-color: #fff
            z-index: 2
        .slick-next
            right: 380px
            left: auto
        img
            display: block
            margin: 0 auto
    .footer
        min-height: 201px
        background-color: $bg-color
        &__logo
            img
                width: 75%
                margin: 0 auto
                margin-top: 10px
                display: block
        &__link
            font-size: 12px
            line-height: 12px
            a 
                font-size: 12px
                line-height: 12px
                margin-right: 200px
        &__number
            margin-left: 25px
            a
                font-size: 12px
                line-height: 12px
        &__tel
            margin-right: 15px
        &__tel-text
            font-size: 12px
            line-height: 12px
        .scratch, .web 
            a 
                font-size: 11px
                line-height: 11px
        .police
            a 
                font-size: 12px
                line-height: 12px
    .modal
        width: 400px
        min-height: 200px    
@media (max-width: 991px)
    header
        .nav
            &__head
                width: 90%
                left: 50%
                transform: translateX(-50%)
            &__logo
                width: 48px
                height: 50px
                img
                    width: 75%
                    display: block
                    margin: 0 auto
                    margin-top: 5px
            &__list
                padding: 0
            &__list-item
                border-right: none
                a 
                    text-align: center
                    font-size: 11px
                    line-height: 11px
                    padding: 0 3px
            &__number
                margin-left: 12px
                a
                    font-size: 12px
                    line-height: 11px
            &__tel-text
                font-size: 13px
                line-height: 11px
    .button
        width: 100px
        height: 30px
        font-size: 10px
        line-height: 11px
        margin-left: 5px
        &__promo
            width: 130px
            height: 30px
            display: block
            margin: 0 auto
    .promo
        position: relative
        min-height: 680px
        padding: 100px 0 82px 0
        background: url(../img/bg/promo_bg.jpg) center center/cover no-repeat
        &__header
            font-size: 18px
        &__title
            font-size: 40px
        &__subtitle
            font-size: 24px
        &__left
            width: 300px
        &__right
            width: 300px
        &__el
            width: 7px
            height: 7px
        &__wrapper
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: flex-start
            margin-bottom: 39px
        &__items
            display: flex
            flex-direction: column 
            justify-content: center
            align-items: center
            width: 250px
            margin-top: 15px
        &__desc
            font-size: 12px
    .adventage
        &__item
            margin-top: 15px
            margin-left: 15px
            width: 600px
            height: 100px
        &__icon
            img
                height: 70%
        &__desc
            margin-left: 15px
            font-size: 14px
            span
                font-size: 16px
    .simple
        min-height: 620px
        padding: 51px 0 57px 0
        &__wrapper
            flex-wrap: wrap
            justify-content: center
            align-items: center
        &__item
            margin-top: 20px
            width: 500px
    .transfer
        min-height: 610px
        padding: 53px 0 56px 0
        &__wrapper
            flex-wrap: wrap
            justify-content: center
        &__item
            margin: 20px 50px
    .consultation
        position: relative
        min-height: 350px
        padding-bottom: 58px
        &__razr-up
            width: 200px
        &__img
            width: 75px
            height: 75px
        &__icon
            justify-content: center
        &__razr-down
            width: 150px
    .work
        min-height: 454px
        padding: 51px 0 46px 0
        background-color: #f3f3f3
        &__wrapper
            justify-content: center
        &__item
            margin-top: 20px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 250px
    .reviews__desc
        width: 450px
    .carousel
        .slick-prev, .slick-next
            position: absolute
            top: 35px
            left: 365px
            width: 14px
            height: 46px
            border: none
            background-color: #fff
            z-index: 2
        .slick-next
            right: 380px
            left: auto
        img
            display: block
            margin: 0 auto
    .feed__form
        flex-direction: column
        input
            margin: 5px 1px
            padding: 0 20px
            width: 220px
            height: 45px
            border: 1.0px solid rgba(0,0,0,0.21)
            border-radius: 50px
            &:nth-child(4)
                margin: 5px 1px
                width: 220px
                height: 45px
                border-radius: 50px
    .questions
        min-height: 500px
        &__head
            width: 400px
            height: 68px
        &__title
            text-align: center
            font-size: 14px
            line-height: 12px
        &__subtitle
            font-size: 11px
            line-height: 10px
        &__wrapper
            width: 400px
    .button
        &__mt27
            margin: 0
            margin-top: 5px
    .footer
        min-height: 150px
        background-color: $bg-color
        &__logo
            height: 50px
            margin: 0
            img
                width: 50%
                margin: 0
        &__link
            font-size: 10px
            line-height: 10px
            a 
                font-size: 10px
                line-height: 10px
                margin-right: 10px
        &__number
            margin-left: 25px
            a
                font-size: 12px
                line-height: 12px
        &__tel
            display: none
        .scratch, .web 
            a 
                font-size: 10px
                line-height: 10px
        .police
            a 
                font-size: 10px
                line-height: 12px
@media (max-width: 767px)    
    header
        position: relative
        .nav
            &__logo
                display: none
            &__head
                justify-content: flex-end
            &__tel
                margin-right: 15px
            &__menu
                width: 120%
                height: 100%
                bottom: -1000px
                position: fixed
                left: -10%
                transform:translateX(-50%)
                transition: 1s all
                &_active
                    position: fixed
                    width: 120%
                    height: 100%
                    bottom: -120px
            &__list
                flex-direction: column
            &__list-item
                width: 100%
                a 
                    display: blocks
                    padding: 10px
                    font-size: 25px
                    line-height: 65px
                    font-weight: 400
                    color: #ffffff
                    padding: 0 10px
                    background-color: rgba(0, 0, 0, 0.8)
    .hamburger
        display: block
        position: absolute
        left: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span 
            display: block
            left: 10px
            top: 50% 
            height: 2px
            width: 100%
            background-color: #fff 
            margin-bottom: 2px
            transition: 0.5s all
        &_active 
            span 
                margin-bottom: -2px 
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
@media (max-width: 575px) 
    header
        position: relative
        .nav
            &__head
                width: 90%
            &__tel
                display: none
            &__menu
                width: 180%
                height: 100%
                bottom: -1000px
                position: fixed
                left: -40%
                transform:translateX(-50%)
                transition: 1s all
                &_active
                    position: fixed
                    width: 180%
                    height: 100%
                    bottom: -120px
        .hamburger
            display: block
            position: absolute
            left: 10px
            top: 50%
            transform: translateY(-50%)
            width: 26px
            height: 12px
    .promo
        min-height: 390px
        padding: 80px 0 60px 0
        &__header
            font-size: 15px
            line-height: 20px
        &__title
            font-size: 22px
            line-height: 20px
        &__subtitle
            font-size: 15px
            line-height: 20px
        &__razr
            display: none
        &__wrapper
            display: none
    .adventage
        &__icon
            display: none
        &__desc
            margin-left: 0
            font-size: 10px
            span    
                font-size: 11px
        &__item
            margin: 0
            margin-top: 40px
            height: 50px
    .modal
        width: 260px
        &__close
            right: -20px
    .feed__form
        input
            width: 180px
    .consultation
        position: relative
        min-height: 350px
        padding-bottom: 58px
        &__razr-up
            display: none
        &__img
            width: 75px
            height: 75px
        &__icon
            justify-content: center
        &__razr-down
            display: none
    .reviews__desc
        width: 250px
    .questions
        min-height: 500px
        &__head
            width: 300px
        &__wrapper
            width: 300px
    .footer
        &__logo
            display: none
        &__number
            display: none
        &__down 
            flex-direction: column
    .scratch
        display: none
    .web
        flex-direction: column